<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Enhanced Wars (pre-alpha)</title>
  <script>
    window.ENV = {
      QS_FIREBASE_URL: <%= (ENV['QS_FIREBASE_URL'] || 'https://enhanced-wars-dev.firebaseio.com').to_json %>,
      QS_PLAYERCENTER_BACKEND_URL: <%= ENV['QS_PLAYERCENTER_BACKEND_URL'].to_json %>
    }
  </script>

  <link rel="stylesheet" href="<%= asset_path('/app/stylesheet/game.css') %>"></link>
  <link rel="stylesheet" href="<%= asset_path('/app/stylesheet/webapp.css') %>"></link>
</head>
<body ng-app="enhancedWars" ng-controller="GamesController">

  <ul class="unstyled main-navigation" ng-show="!notLoggedIn() && params.matchUuid">
    <li class="main-navigation-entry">
      <a href="#/matches" class="main-navigation-entry-link"><i class="icon-align-justify icon-white"></i><span class="main-navigation-entry-label">Your Games</span></a>
    </li>
    <li class="main-navigation-entry">
      <a href="#/join" class="main-navigation-entry-link"><i class="icon-plus icon-white"></i><span class="main-navigation-entry-label">New Game</span></a>
    </li>
    <li class="main-navigation-entry">
      <a href="#" class="main-navigation-entry-link" ng-click="forfeitMatch();$event.preventDefault()"><i class="icon-flag icon-white"></i><span class="main-navigation-entry-label">Forfeit this game</span></a>
    </li>
    <li class="main-navigation-entry">
      <a href="https://forum.quarterspiral.com/discussions" target="new" class="main-navigation-entry-link"><i class="icon-white icon-comment"></i><span class="main-navigation-entry-label">Forum</span></a>
    </li>



  </ul>

  <div class="ng-cloak">
    <a class="in-game-chat-toggle un-read-messages" ng-click="showChat = !showChat;scrollChatDown();" ng-show="showChatIcon"><i class="icon-white icon-comment"></i></a>
    <div class="chat in-game-chat" ng-show="showChatIcon && showChat">
      <div ng-include="'/app/partials/_chat.html'"></div>
    </div>

    <div ng-include="'/app/partials/_action-control.html'"></div>

    <canvas id="game"></canvas>
    <div id="ew-debug-panel" ng-include="'/app/partials/ew-debug.html'"></div>
  </div>


  <!-- Hide when not logged in -->
  <div class="container">
    <div class="row" ng-hide="notLoggedIn()">

      <div ng-hide="loaded()" class="span12 loading-app">
        <p><span class="spinner"></span> Loading...</p>
        <span ng-show="loadTimedOut"> (We might have a problem here. Try to reload the page to fix this.)</span>
      </div>

    </div>
  </div>

  <div ng-view></div>

  <% sdk_url = ENV['QS_SDK_URL'] || 'http://localhost:8192' %>
  <script src="<%= sdk_url %>/javascripts/sdk.js" type="text/javascript" defer></script>

  <script src="<%= asset_path('/app/javascript/game.js') %>" defer></script>
  <script src="https://cdn.firebase.com/v0/firebase.js" defer></script>
  <script src="<%= asset_path('/app/javascript/webapp.js') %>" defer></script>
</body>
</html>