<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Enhanced Wars (pre-alpha)</title>

  <% sdk_url = ENV['QS_SDK_URL'] || 'http://localhost:8192' %>
  <script src="<%= sdk_url %>/javascripts/sdk.js" type="text/javascript"></script>

  <script src="<%= asset_path('/app/javascript/game.js') %>"></script>

  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="<%= asset_path('/app/javascript/webapp.js') %>"></script>
  <link rel="stylesheet" href="<%= asset_path('/app/stylesheet/game.css') %>"></link>
  <link rel="stylesheet" href="<%= asset_path('/app/stylesheet/webapp.css') %>"></link>

  <script>
    window.ENV = {
      QS_FIREBASE_URL: <%= (ENV['QS_FIREBASE_URL'] || 'https://enhanced-wars-dev.firebaseio.com').to_json %>,
      QS_PLAYERCENTER_BACKEND_URL: <%= ENV['QS_PLAYERCENTER_BACKEND_URL'].to_json %>
    }
  </script>

</head>
<body ng-app="enhancedWars">
  <div class="container">
    <ul class="unstyled main-navigation">
      <li class="main-navigation-entry">
        <a href="#/matches" class="main-navigation-entry-link"><i class="icon-align-justify icon-white"></i><span class="main-navigation-entry-label">Your Turn</span></a>
      </li>
      <li class="main-navigation-entry">
        <a href="#/join" class="main-navigation-entry-link"><i class="icon-plus icon-white"></i><span class="main-navigation-entry-label">New Game</span></a>
      </li>
      <li class="main-navigation-entry">
        <a href="https://forum.quarterspiral.com/discussions" target="new" class="main-navigation-entry-link"><i class="icon-white icon-comment"></i><span class="main-navigation-entry-label">Forum</span></a>
      </li>
      <li class="main-navigation-entry">
        <a href="http://feedback.quarterspiral.com/forums/208101-enhanced-wars" target="new" class="main-navigation-entry-link"><i class="icon-white icon-inbox"></i><span class="main-navigation-entry-label">Feedback</span></a>
      </li>
    </ul>

    <div ng-controller="GamesController">
      <a class="in-game-chat-toggle un-read-messages" ng-click="showChat = !showChat;scrollChatDown();" ng-show="showChatIcon"><i class="icon-white icon-comment"></i></a>

      <div class="chat in-game-chat" ng-show="showChat">
        <div class="chat-type-tabs">
          <a class="chat-type-tab disabled" disabled>Game</a>
          <a class="chat-type-tab active">Global</a>
        </div>
        <ul class="chat-messages-list unstyled" scroll-glue="publicChatMessages">
          <li class="chat-message" ng-repeat="(messageUuid, message) in publicChatMessages">
            <span class="chat-message-author">{{message.author}}:</span><span class="chat-message-text" ng-bind-html-unsafe="message.messageText|autoLink"></span>
          </li>
        </ul>
        <form ng-submit="addChatMessage(chatMessage)" class="chat-input-block">
          <div class="input-append">
            <input type="text" ng-model="chatMessage" class="span2" placeholder="Enter your message" />
            <button class="btn" type="submit">Send</button>
          </div>
        </form>
      </div>

      <div ng-include="'/app/partials/_action-control.html'"></div>


      <canvas id="game"></canvas>
      <div id="ew-debug-panel" ng-include="'/app/partials/ew-debug.html'"></div>

      <div class="row">
        <div class="span9 offset1">
          <p class="alpha-message">
            This is a pre-alpha. <a href="https://forum.quarterspiral.com/discussion/17/how-to-play-enhanced-wars#Item_1" target="new">Read the guide</a>, <a href="https://forum.quarterspiral.com/discussions" target="new">join the discussion</a> and give <a href="http://feedback.quarterspiral.com/forums/208101-enhanced-wars" target="new">plenty of feedback</a>.
          </p>
        </div>
        <div class="span2">
          <img class="enhanced-wars-logo" src="/app/images/ewlogo.png" />
        </div>
      </div>

       <div class="row">
        <div ng-hide="loaded()" class="span6 offset1">
          <p>Loading...</p>
          <span ng-show="loadTimedOut"> (We might have a problem here. <a target="_parent" ng-href="{{reloadUrl()}}">Try to reload to fix this</a>.)</span>
        </div>

        <div ng-show="loaded() && notLoggedIn()" class="span6 offset1">
          Please <a href="#" ng-click="login();$event.preventDefault();">log in</a>
        </div>
      </div>

      <div ng-show="player()" ng-view></div>
    </div>
  </div> <!-- /container -->

</body>
</html>